h2{
    text-align: center;
}
#commodity-ticker{
    list-style-type: none;
    padding-left: 2%;
    padding-right: 5%;
}
.admin-container{
    height: 1000px;
    width: 1360px;
    margin-left: 30%;
}
.selling{
    width: 60%;
    padding: 10%;
}
.resource-padding{
    padding-right:2px;
}
.no-dot{
    list-style-type: none;
}
.text-info{
    width:50%;
    padding-left:20%;
}
.sidebar {
    max-width: 24%;
    float: left;
    border-right: thick solid black;
    height: 1087px;
}
.container{
    max-width: 1130px;
   /* padding-right: 10%;
    padding-left: 10%;*/
}
.graph-holder{
    padding-left: 24%;
}